/* General - Start */

body{
  transition: all .6s ease;
}
img{
  display: block;
  margin: auto;
  width: 300px;
}
.description{
  max-width: 80%;
  margin: 15px auto;
}
.card{
  margin: 10px auto;
}
.card:hover{
    box-shadow: 0 0 10px rgba(26, 9, 9, 0.4);
}
.btn-primary{
  padding: 5px 40px !important;
}
.card{
  width: 18rem;
}
.chart{
  margin: 80px auto;
}
.chart h2{
  font-weight: 700;
  font-size: 46px;
  position: relative;
  width: auto;
}
.chart h2::after{
  content: '';
  position: relative;
  display: block;
  width: 40%;
  height: 3px;
  border-radius: 10px;
  background-color: rgb(156, 156, 156);
  margin: 0 auto;
  top: 20px;
}
/* General - End */

/* Header - Start */
header{
  position: fixed !important;
  width: 100%;
  top: 0;
  z-index: 10000;
}
a.navbar-brand{
  margin-right: 5px !important;
}
a.navbar-brand img{
  width: 40px;
}

/* Header - End */

/* About - Start */
.about{
  margin-top: 90px;
}
.logo{
  width: 30%;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(26, 9, 9, 0.4);
  padding: 10px;
  margin-bottom: 15px;
}
/* About - End */

/* Products Laptops - Start */
.products-laptops{
  margin: 150px auto;
}
.products-laptops__list{
  margin-top: 50px;
}
/* Products Laptops - End */

/* Products Phones - Start */
.products-phones{
  margin: 150px auto;
}
.products-phones__list{
  margin-top: 50px;
}
/* Products Phones - End */
